@import 'mixins.scss';
// ==================================================
// SETTINGS
// ==================================================

// COLORS

// CITRICA SYSTEM COLORS

$color-light-primary: #F66F7A;
$color-light-on-primary: #FFFFFF;
$color-light-primary-container: #F66F7A;
$color-light-on-primary-container: #FFFFFF;
$color-light-primary-fixed: #d39696;
$color-light-on-primary-fixed: #FFFFFF;
$color-light-on-primary-fixed-variant: #FFFFFF;
$color-light-primary-fixed-dem: #FFFFFF;

$color-light-secondary: #F66F7A;
$color-light-on-secondary: #FFFFFF;
$color-light-secondary-container: #F66F7A;
$color-light-on-secondary-container: #FFFFFF;
$color-light-secondary-fixed: #d39696;
$color-light-on-secondary-fixed: #FFFFFF;
$color-light-on-secondary-fixed-variant: #FFFFFF;
$color-light-secondary-fixed-dem: #FFFFFF;

$color-light-tertiary: #F66F7A;
$color-light-on-tertiary: #FFFFFF;
$color-light-tertiary-container: #F66F7A;
$color-light-on-tertiary-container: #FFFFFF;
$color-light-tertiary-fixed: #d39696;
$color-light-on-tertiary-fixed: #FFFFFF;
$color-light-on-tertiary-fixed-variant: #FFFFFF;
$color-light-tertiary-fixed-dem: #FFFFFF;

$color-light-cuaternary: #F66F7A;
$color-light-on-cuaternary: #FFFFFF;
$color-light-cuaternary-container: #F66F7A;
$color-light-on-cuaternary-container: #FFFFFF;
$color-light-cuaternary-fixed: #d39696;
$color-light-on-cuaternary-fixed: #FFFFFF;
$color-light-on-cuaternary-fixed-variant: #FFFFFF;
$color-light-cuaternary-fixed-dem: #FFFFFF;

$color-light-quinary: #F66F7A;
$color-light-on-quinary: #FFFFFF;
$color-light-quinary-container: #F66F7A;
$color-light-on-quinary-container: #FFFFFF;
$color-light-quinary-fixed: #d39696;
$color-light-on-quinary-fixed: #FFFFFF;
$color-light-on-quinary-fixed-variant: #FFFFFF;
$color-light-quinary-fixed-dem: #FFFFFF;

$color-dark-primary: #F66F7A;
$color-dark-on-primary: #FFFFFF;
$color-dark-primary-container: #1f1f1f;
$color-dark-on-primary-container: #FFFFFF;
$color-dark-primary-fixed: #d39696;
$color-dark-on-primary-fixed: #FFFFFF;
$color-dark-on-primary-fixed-variant: #FFFFFF;
$color-dark-primary-fixed-dem: #FFFFFF;

$color-dark-secondary: #F66F7A;
$color-dark-on-secondary: #FFFFFF;
$color-dark-secondary-container: #F66F7A;
$color-dark-on-secondary-container: #FFFFFF;
$color-dark-secondary-fixed: #d39696;
$color-dark-on-secondary-fixed: #FFFFFF;
$color-dark-on-secondary-fixed-variant: #FFFFFF;
$color-dark-secondary-fixed-dem: #FFFFFF;

$color-dark-tertiary: #F66F7A;
$color-dark-on-tertiary: #FFFFFF;
$color-dark-tertiary-container: #F66F7A;
$color-dark-on-tertiary-container: #FFFFFF;
$color-dark-tertiary-fixed: #d39696;
$color-dark-on-tertiary-fixed: #FFFFFF;
$color-dark-on-tertiary-fixed-variant: #FFFFFF;
$color-dark-tertiary-fixed-dem: #FFFFFF;

$color-dark-cuaternary: #F66F7A;
$color-dark-on-cuaternary: #FFFFFF;
$color-dark-cuaternary-container: #F66F7A;
$color-dark-on-cuaternary-container: #FFFFFF;
$color-dark-cuaternary-fixed: #d39696;
$color-dark-on-cuaternary-fixed: #FFFFFF;
$color-dark-on-cuaternary-fixed-variant: #FFFFFF;
$color-dark-cuaternary-fixed-dem: #FFFFFF;

$color-dark-quinary: #F66F7A;
$color-dark-on-quinary: #FFFFFF;
$color-dark-quinary-container: #F66F7A;
$color-dark-on-quinary-container: #FFFFFF;
$color-dark-quinary-fixed: #d39696;
$color-dark-on-quinary-fixed: #FFFFFF;
$color-dark-on-quinary-fixed-variant: #FFFFFF;
$color-dark-quinary-fixed-dem: #FFFFFF;

// SEMANTIC COLORS
$color-light-error: #F66F7A;
$color-light-on-error: #FFFFFF;
$color-light-error-container: #F66F7A;
$color-light-on-error-container: #FFFFFF;

$color-light-warning: #F66F7A;
$color-light-on-warning: #FFFFFF;
$color-light-warning-container: #F66F7A;
$color-light-on-warning-container: #FFFFFF;

$color-light-success: #F66F7A;
$color-light-on-success: #FFFFFF;
$color-light-success-container: #F66F7A;
$color-light-on-success-container: #FFFFFF;

$color-dark-error: #F66F7A;
$color-dark-on-error: #FFFFFF;
$color-dark-error-container: #F66F7A;
$color-dark-on-error-container: #FFFFFF;

$color-dark-warning: #F66F7A;
$color-dark-on-warning: #FFFFFF;
$color-dark-warning-container: #F66F7A;
$color-dark-on-warning-container: #FFFFFF;

$color-dark-success: #F66F7A;
$color-dark-on-success: #FFFFFF;
$color-dark-success-container: #F66F7A;
$color-dark-on-success-container: #FFFFFF;

// SURFACE COLORS

$color-light-surface: #F66F7A;
$color-light-on-surface: #FFFFFF;
$color-light-surface-dem: #F66F7A;
$color-light-surface-bright: #F66F7A;
$color-light-surface-var: #F66F7A;
$color-light-on-surface-var: #FFFFFF;
$color-light-surface-container: #F66F7A;
$color-light-surface-container-lowest: #F66F7A;
$color-light-surface-container-low: #F66F7A;
$color-light-surface-container-high: #F66F7A;
$color-light-surface-container-highest: #F66F7A;

$color-light-outline: #F66F7A;
$color-light-outline-variant: #F66F7A;

$color-light-inverse-surface: #F66F7A;
$color-light-inverse-on-surface: #FFFFFF;
$color-light-inverse-primary: #F66F7A;

$color-dark-surface: #F66F7A;
$color-dark-on-surface: #FFFFFF;
$color-dark-surface-dem: #F66F7A;
$color-dark-surface-bright: #F66F7A;
$color-dark-surface-var: #F66F7A;
$color-dark-on-surface-var: #FFFFFF;
$color-dark-surface-container: #F66F7A;
$color-dark-surface-container-lowest: #F66F7A;
$color-dark-surface-container-low: #F66F7A;
$color-dark-surface-container-high: #F66F7A;
$color-dark-surface-container-highest: #F66F7A;

$color-dark-outline: #F66F7A;
$color-dark-outline-variant: #F66F7A;

$color-dark-inverse-surface: #F66F7A;
$color-dark-inverse-on-surface: #FFFFFF;
$color-dark-inverse-primary: #F66F7A;

// SCRIM
$color-scrim: #F66F7A;
$color-shadow: #F66F7A;

//-------------------------------
// FALTAN DEFINIR SI VAN O NO
// $color-white : #FFFFFF;
// $color-black : #353535;

// CITRICA SYSTEM BORDER RADIOUS
$border-radious-xsm: "";
$border-radious-sm: "";
$border-radious-md: "";
$border-radious-lg: "";
$border-radious-xlg: "";

// CITRICA SYSTEM BORDER 
$border-extra-light: "";
$border-light: "";
$border-md: "";
$border-bold: "";
$border-extra-bold: "";

// FONTS GOOGLE
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap';

// FONTS LOCALES
@font-face {
    font-family: "ChunkFiveEx";
    src: url('../../fonts/Chunkfive_Ex.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Restora";
    src: url('../../fonts/RestoraExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url('../../fonts/Manrope-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url('../../fonts/Manrope-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url('../../fonts/Manrope-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url('../../fonts/Manrope-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url('../../fonts/Manrope-Light.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url('../../fonts/Manrope-ExtraLight.ttf');
    font-weight: 300;
    font-style: normal;
}

  
// CITRICA SYSTEM TYPOGRAPJY
$font-family-a: 'Roboto';
$font-family-b: 'Poppins', sans-serif;
$font-family-c: 'Poppins', sans-serif;

// CITRICA SYSTEM OPACITY
$opacity-1:"";
$opacity-2:"";
$opacity-3:"";
$opacity-4:"";
$opacity-5:"";

// CITRICA SYSTEM ELEVATION 
$elevation-level-1: "";
$elevation-level-2: "";
$elevation-level-3: "";
$elevation-level-4: "";
$elevation-level-5: "";

//--------------

$text-btns: (
    sm: (
        font-size: 14pt,
        font-weight: 500
    ),
    md: (
        font-size: 18pt,
    ),
    lg: (
        font-size: 20pt,
    )
);

$font-text: '';

$a-transition: all 0.3s ease-in-out;
$padding-bottom-default: 20px;

// GRID

// CONTAINER WIDTH AVAILABLE
    $container__width: 1366px;

// COLS
    $total-columns__lg: 12;
    $total-columns__md: 6;
    $total-columns__sm: 4;

// GUTTER BETWEEN COLS
    $grid-gutter__lg: 56px;
    $grid-gutter__md: 20px;
    $grid-gutter__sm: 20px;

// CONTAINER PADDING (ONLY ONE SIDE)
    $container-padding__lg: 112px;
    $container-padding__md: 56px;
    $container-padding__sm: 32px;


// RESPONSIVE
$root-vars: (
    sm: (
        // LAYOUT
        --container-width: $container__width,
        --total-columns: $total-columns__sm,
        --grid-gutter: $grid-gutter__sm,
        --container-padding: $container-padding__sm,
        --display-block-only-mobile: block,
        --display-block-not-mobile: none,
        // COLORS
        --color-white: $color-light-on-primary-container,
        --color-black: $color-dark-on-primary-container,
        --color-primary: $color-light-primary,
        // --color-primary-black: $color-primary-black,
        --color-primary-dark: $color-dark-primary,
        --color-secondary: $color-light-secondary,
        // FONTS
        --font-family-a: $font-family-a,
        --font-family-b: $font-family-b,
        --font-family-c: $font-family-c,
        // CUSTOM
    ),
    md: (
        // LAYOUT
        --total-columns: $total-columns__md,
        --grid-gutter: $grid-gutter__md,
        --container-padding: $container-padding__md,
        --display-block-only-mobile: none,
        --display-block-not-mobile: block,
    ),
    lg: (
        // LAYOUT
        --total-columns: $total-columns__lg,
        --grid-gutter: $grid-gutter__lg,
        --container-padding: $container-padding__lg,
        --display-block-only-mobile: none,
        --display-block-not-mobile: block,
        --font-size-h1: 100px,
        --font-size-h2: 90px,
        --line-height-h1: 102px,
    ),
    // Opcionales
    only-md: (
        //
    )
)